.images {
    text-align: center;
}

img, canvas {
    vertical-align: middle;
}

form {
    padding: 20px;
}

.form-control,
.form-control:focus {
    padding: 0;
    border: none;
    box-shadow: none;
    -webkit-box-shadow: none;
}

input[type=file] {
    display: none;
}
